.user-popup{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-popup > .card-popup {
    padding: 20px 10px !important;
}