

.actions{
    display:'flex';
    justify-content: 'flex-start';
    gap: 20px !important
}
.actions > a > svg,
.actions > svg {
    color: #212529;
    margin-right: 10px;
    transition: .5s ease;
    cursor: pointer;
}
.more-option> svg:hover,
.actions > a > svg:hover{
    color: #66c4de;
    cursor: pointer;
}
.actions > svg:hover{
    color: #f1926e;
    cursor: pointer;
}

.Toastify__toast-theme--light{
    border-radius: 10px;
    z-index: 1000000001;
}
.Toastify__toast-body > div {
    font-family: 'Montserret';
    color: #9A9A9A;
    font-size: 1.1em;
    font-weight: 300;
}

.nc-simple-add,
.nc-simple-delete{
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease;
    padding: 10px;
}
.nc-simple-add:hover,
.nc-simple-delete:hover{
    border-color: #66c4de;
    color: #66c4de;
}

/* padding left 16px for mobile*/
.col-md-4:nth-of-type(2),
.col-md-4:nth-of-type(3)
{
    padding-left: 0px !important;
}



/* invoice footer*/
.invoice-footer{
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
}
.invoice-footer > div {
    display: flex;
    gap: 10px;
}
.invoice-footer > div > i {
    font-size: 14px;
    cursor: pointer;
    transition: .25s ease;
    padding: 5px;
    color: #6c757d;
}

.invoice-footer > div > i:hover {
    color: #66c4de ;
}



/* design */
.logo-normal {
    text-align: center !important;
}
.nav > li {
    width: 200px !important;
}
.nav > li > a {
    margin: 0px 0px 0px 10px !important;
}

.sidebar .sidebar-wrapper li.active > a:not([data-toggle=collapse]):before ,
.sidebar .sidebar-wrapper li.active > a:not([data-toggle=collapse]):after {
    right: 0px !important;
}

.sidebar, .off-canvas-sidebar {
    width: 200px !important
}
.sidebar .sidebar-wrapper{
    width: 200px !important;
}

.main-panel {
    width: calc(100% - 200px) !important;
}

.css-13cymwt-control:hover,
.css-13cymwt-control :focus{
    border-color: black !important;
    box-shadow: none !important;
}
