.popup, .overlay{
    height: calc(100vh + 50px);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100000;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.272);
}
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-popup{
    z-index: 1000001;
    width: 40%;
    position: relative;
    padding: 20px 25px 20px 10px ;
}
.cardBody > form > .row {
    align-items: flex-end !important;
}
.card-popup > .cardBody> form > .row > div:nth-of-type(2){
    padding: 0px !important;
}

.popup-body{
    background-color: white;
    padding: 40px 15px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.card-popup > i{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .25s ease;
    font-size: 18px;
}
.card-popup > i:hover{
    cursor: pointer;
    color: #66c4de;
}